@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.sticky-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Firefox */
.sticky-scrollbar {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Optional: If you're using Tailwind CSS, you can also hide the scrollbar by applying `overflow-hidden` */
.sticky-scrollbar {
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
